


/* <!-- AR起動ボタンのデザイン --> */

  #custom-ar-button
  {         
    /* ボックスの大きさ */ 
    width: 150px;    /* 幅 */
    height: 40px;    /* 高さ */

    /* ボックスの位置 */
    bottom: 16px;         /* 下からの配置位置(距離)を指定(表示領域の最下端から) */
    right: 16px;          /* 右からの配置位置(距離)を指定(表示領域の再右端から) */

    /* ボックスのカスタマイズ */
    border-radius: 6px;   /* border-radius:ボックスの4つのコーナーの角丸をまとめて指定 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);  /* box-shadow:ボックスのフレーム周辺に影を作る */         
    background-color: white;  /* background:ボックスの背景色指定 */
    
    /* フォント */
    font-family: Futura, Helvetica Neue, sans-serif;    /* フォント指定 */
    font-size: 16px;      /* フォントの大きさ */
    font-weight: 400;     /* フォントの太さ */

    /*？ これがないと指定した位置ではなく、左上に配置される 理由は分からない*/
    position: absolute;   /* custom-ar-buttonというidがついたボックスに下記(div id="custom-ar-button")の配置位置を反映 */
  
  }
